<a href="https://colab.research.google.com/github/Vijaya-QA/SeleniumAutomation/blob/DSML/Python_tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# New Section
# Tuple Problems
# Easy level
1. Create a tuple and print it

In [ ]:
my_tuple=("apple", 30,True,2.57)
print(my_tuple)

('apple', 30, True, 2.57)

In [ ]:
my_tuple = tuple(("apple", 30,True,2.57)) #using tuple constructor
print(my_tuple)

('apple', 30, True, 2.57)

# 2. Access elements using indexing
Access the 2nd and 4th elements from the tuple

In [ ]:
my_tuple=("apple", 30, True,43.45)
print(my_tuple[1],my_tuple[0])

30 apple

# 3. Slicing a tuple
Slice the first 3 elements

In [ ]:
my_tuple=("apple", True, 2.45,30)
print(my_tuple[:3])

('apple', True, 2.45)

# 4. Iterate through a tuple using a loop
Print each item in the tuple

In [ ]:
my_tuple=("apple", True, 2.45,30)
for item in my_tuple:
  print(item)

apple
True
2.45
30

In [ ]:
my_tuple=("apple", True, 2.45,30)
for i in range(len(my_tuple)):
  print(my_tuple[i])

apple
True
2.45
30

# 5. Tuple unpacking
Unpack tuple elements into variables

In [ ]:
my_tuple=("apple", 3.4,True, 28)
a,b,c,d = my_tuple
print(a,b,c,d)

apple 3.4 True 28

In [ ]:
my_tuple=("apple",35,True,2.34)
a,*c,d = my_tuple
print(a,c,d)

apple [35, True] 2.34

# 6. Immutability check
Try to change a value in a tuple and see the result

In [ ]:
my_tuple = ("cherry", 3,2,True,10)
try:
 my_tuple[1] = 20
except TypeError as e:
 print("Error: ", e)
print(my_tuple)

Error:  'tuple' object does not support item assignment
('cherry', 3, 2, True, 10)

# 7. Use of built-in functions: len(), min(), max(), sum()
Apply tuple functions

In [ ]:
my_tuple=("banana", 30,True,3.2)
print("lenth of tuple: ", len(my_tuple))
#print("sum of tuple: ", sum(my_tuple))
#print("min of tuple: ", min(my_tuple))
#print("min of tuple: ", max(my_tuple))

lenth of tuple:  4

In [ ]:
my_tuple=(1,0,20,495,-1)
print("sum of tuple: ", sum(my_tuple))
print("min of tuple: ", min(my_tuple))
print("mix of tuple: ", max(my_tuple))

sum of tuple:  515
min of tuple:  -1
mix of tuple:  495

# 8. Check if an element exists in a tuple
Check membership

In [ ]:
my_tuple=("banana", 30,True,3.2)
if 30 in my_tuple:
  print("yes!, it is")
else:
  print("NO")

yes!, it is

# 9. Nested tuple access
 Access elements from a nested tuple

In [ ]:
nested_tuple=("banana", 30, (30,True, "bee"), 3.4)
for subtuple in nested_tuple:
  for item in subtuple:
    print(item)

b
a
n
a
n
a

TypeError: 'int' object is not iterable

In [ ]:
nested_tuple=("banana", 30, (30,True, "bee"), 3.4)
for subtuple in nested_tuple:
  if isinstance(subtuple, tuple):
    for item in subtuple:
       print(item)
  else:
    print(subtuple)

banana
30
30
True
bee
3.4

In [ ]:
nested_tuple=("banana", 30, (30,True, "bee"), 3.4)
#print particular item in nested tuple
print(nested_tuple[2][1])

True

# 10. Convert list to tuple and vice versa

In [ ]:
my_tuple=("banana", 30,True,3.2)
#convert tuple to list
my_list = list(my_tuple)
print("List: ", my_list)
my_tuple2 = tuple(my_list)
print("tuple: ", my_tuple2)

List:  ['banana', 30, True, 3.2]
tuple:  ('banana', 30, True, 3.2)

# Medium-level Python tuple
# 1. Reverse a tuple using slicing

In [ ]:
my_tuple = ("banana", 35, True, 2.3)
rev_tuple = my_tuple[::-1]
print(rev_tuple)

(2.3, True, 35, 'banana')

In [ ]:
# looping through tuple in reverse order
my_tuple = ("banana", 35, True, 2.3)
my_list = list(my_tuple)
new_list = []
for i in range(len(my_list)-1,-1,-1):
  new_list.append(my_list[i])
rev_tuple = tuple(new_list)
print(rev_tuple)

(2.3, True, 35, 'banana')

# 2. Find the index of an element

In [ ]:
my_tuple = ("banana", 35, True, 2.3)
print(my_tuple.index(35))

1

# 3. Count the occurrences of an element

In [ ]:
tpl = (1, 2, 2, 3, 2, 4)
print(tpl.count(2))

3

In [ ]:
my_tuple=("apple", 2, "apple", 3.4, "apple")
print(my_tuple.count("apple"))

3

# 4. Find the length of the longest string in a tuple

In [ ]:
# Given a tuple of strings, find the longest one
my_tuple = ("apple", "banana", "grape", "kiwi")
longest=""
max_len=0
for item in my_tuple:
  if len(item) > max_len:
    max_len=len(item)
    longest=item
print(item)
print(max_len)

TypeError: 'int' object is not callable

In [ ]:
my_tuple = ("apple", "banana", "grape", "kiwi")

longest = ""
max_length = 0

for item in my_tuple:
    if len(item) > max_length:
        max_length = len(item)
        longest = item

print("Longest word:", longest)
print("Length:", max_length)

TypeError: 'int' object is not callable