<a href="https://colab.research.google.com/github/Vijaya-QA/SeleniumAutomation/blob/DSML/Python_Dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Easy-level Python dictionary problems
# 1. Count Word Frequency
Given a sentence, count the frequency of each word using a dictionary.
sentence = "apple banana apple orange banana apple"
{'apple': 3, 'banana': 2, 'orange': 1}

In [ ]:
import string
sen = input("Enter a sentence: ")
sen_without_puctuation = "".join([char for char in sen if char not in string.punctuation])
words = sen_without_puctuation.strip().split(" ")
print(words)
unique_words = set(words)
print(unique_words)
mydict = {}
for word in unique_words:
  if word in words:
    mydict.update({word:words.count(word)})
print(mydict)

Enter a sentence: "apple banana apple orange banana apple"
['apple', 'banana', 'apple', 'orange', 'banana', 'apple']
{'apple', 'banana', 'orange'}
{'apple': 3, 'banana': 2, 'orange': 1}

# 2. Add and Update Dictionary Items
Create a dictionary with three key-value pairs. Add a new key and update one existing value.
Original: {'name': 'Alice', 'age': 25, 'city': 'Delhi'}
After adding: {'name': 'Alice', 'age': 25, 'city': 'Delhi', 'gender': 'female'}
After updating: {'name': 'Alice', 'age': 26, 'city': 'Delhi', 'gender': 'female'}

In [ ]:
original = {'name': 'Alice', 'age': 25, 'city': 'Delhi'}
original.update({ 'gender': 'female'})
original.update({ 'age': 26})
print(original)

{'name': 'Alice', 'age': 26, 'city': 'Delhi', 'gender': 'female'}

In [ ]:
original = {'name': 'Alice', 'age': 25, 'city': 'Delhi'}
original.update({ 'gender': 'female'})
original['age'] = 26
print(original)

{'name': 'Alice', 'age': 26, 'city': 'Delhi', 'gender': 'female'}

# 3. Check if Key Exists
Check whether a given key exists in the dictionary.
key_to_check = 'age'

In [ ]:
original = {'name': 'Alice', 'age': 25, 'city': 'Delhi'}
if "age" in original.keys():
  print("yes")
else:
  print("NO")

yes

# 4. Sum of All Values
Given a dictionary of items and their prices, find the total sum of prices.
items = {'apple': 50, 'banana': 20, 'orange': 30}

In [ ]:
items = {'apple': 50, 'banana': 20, 'orange': 30}
sum = 0
for value in items.values():
  #sum = sum + value
  sum+= value
print(sum)

100

# 5. Convert Two Lists into a Dictionary
Use two lists to create a dictionary (keys from one list, values from the other).
keys = ['a', 'b', 'c']
values = [1, 2, 3]

In [ ]:
keys = ['a', 'b', 'c']
values = [1, 2, 3]
my_dict = {}
for key in keys:
  for value in values:
     my_dict.update({keys[key] : values[value]})
print(my_dict)

TypeError: list indices must be integers or slices, not str

In [ ]:
keys = ['a', 'b', 'c']
values = [1, 2, 3]
my_dict = {}
for key in keys:
  my_dict+=key
  #for value in values:
    # my_dict.update({key : value})
print(my_dict)

TypeError: unsupported operand type(s) for +=: 'dict' and 'str'

In [ ]:
keys = ['a', 'b', 'c']
values = [1, 2, 3]
my_dict = {}
for i in range(len(keys)):
    my_dict[keys[i]] = values[i]
print(my_dict)

{'a': 1, 'b': 2, 'c': 3}

# 6. Merge Two Dictionaries
Merge two dictionaries into one.
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [ ]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
for key, value in dict2.items():
  dict1.update({key:value})
print(dict1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

# 7. Get Only Keys or Values
Print all keys and all values separately from a dictionary.
d = {'x': 10, 'y': 20, 'z': 30}
Keys: ['x', 'y', 'z']
Values: [10, 20, 30]

In [ ]:
d = {'x': 10, 'y': 20, 'z': 30}
keys_dict = d.keys()
values_dict = d.values()
keys = {}
for i in range(len(keys_dict)):
  keys.update({"keys" : keys_dict[i]})
print(keys)

TypeError: 'dict_keys' object is not subscriptable

In [ ]:
d = {'x': 10, 'y': 20, 'z': 30}
dkeys = d.keys()
dvalues = d.values()
keys = list(dkeys)
values = list(dvalues)
print("keys:", keys)
print("values:", values)

keys: ['x', 'y', 'z']
values: [10, 20, 30]

# 8.Create a Dictionary from User Input
Ask the user for 3 keys and values, and create a dictionary.
Enter key: name
Enter value: Alice

In [ ]:
keys = []
values = []
for i in range(3):
  keys.append(input("Enter key: "))
  values.append(input("Enter value: "))
mydict = {}
for i in range(len(keys)):
  mydict.update({keys[i] : values[i]})
print(mydict)

Enter key: name
Enter value: ford
Enter key: age
Enter value: 30
Enter key: year
Enter value: 1985
{'name': 'ford', 'age': '30', 'year': '1985'}

# 9. Count Frequency of Characters
Count how many times each character appears in a string.
{'b': 1, 'a': 3, 'n': 2}

In [ ]:
string = input("enter a string: ")
letters = list(string)
unique_letters = set(letters)
mydict = {}
for letter in unique_letters:
  if letter in letters:
    mydict.update({letter : letters.count(letter)})
print(mydict)

enter a string: banana
{'n': 2, 'a': 3, 'b': 1}

# 10.Find the Maximum Value
data = {'a': 5, 'b': 8, 'c': 2}
Maximum value: 8

In [ ]:
data = {'a': 5, 'b': 8, 'c': 2}
dvalues = data.values()
values = list(dvalues)
print(max(values))

8

# medium-level Python dictionary questions
# 1. Group Words by Their First Letter
Given a list of words, group them by their starting letter using a dictionary.
words = ['apple', 'banana', 'apricot', 'cherry', 'blueberry']
{
 'a': ['apple', 'apricot'],
 'b': ['banana', 'blueberry'],
 'c': ['cherry']
}

In [ ]:
words = ['apple', 'banana', 'apricot', 'cherry', 'blueberry']
myset = set()
for word in words:
  myset.add(word[0])
print(myset)
a_words = []
b_word = []
c_word = []
for letter in myset:
  for word in words:
    if letter == word[0]:

{'b', 'c', 'a'}

In [ ]:
words = ['apple', 'banana', 'apricot', 'cherry', 'blueberry']
grouped_words = {}
for word in words:
  first_letter = word[0]
  if first_letter in grouped_words:
    grouped_words[first_letter].append(word)
  else:
    grouped_words[first_letter] = [word]    #You use [word] to create a list containing one item (word).

                                            #This allows future words to be appended to that list under the same key.
print(grouped_words)

{'a': ['apple', 'apricot'], 'b': ['banana', 'blueberry'], 'c': ['cherry']}

In [ ]:
words = ['apple', 'banana', 'apricot', 'cherry', 'blueberry']

grouped_words = {}

for word in words:
    first_letter = word[0]
    if first_letter in grouped_words:
        grouped_words[first_letter].append(word)
    else:
        grouped_words[first_letter] = [word]

print(grouped_words)

{'a': ['apple', 'apricot'], 'b': ['banana', 'blueberry'], 'c': ['cherry']}

# 2. Find the Key with the Maximum Value
Given a dictionary of item prices, find the item with the highest price.
prices = {'apple': 50, 'banana': 20, 'mango': 80}
mango

In [ ]:
prices = {'apple': 50, 'banana': 20, 'mango': 80}
price_values = prices.values()
max_price = max(price_values)
item = prices[max_price]
print(item)

KeyError: 80

In [ ]:
prices = {'apple': 50, 'banana': 20, 'mango': 80}
max_price = max(prices.values())
for key, value in prices.items():
  if value == max_price:
    print(f"{key}")
    break

mango

# 3. Count Frequency of Words in a Paragraph (Case-Insensitive)
text = "Apple banana apple. Banana? apple!"
{'apple': 3, 'banana': 2}

In [ ]:
import string
text = "Apple banana apple. Banana? apple!"
text_without_punctuation = "".join([char for char in text if char not in string.punctuation])
words = text_without_punctuation.lower().split(" ")
unique_words = set(words)
myset = {}
count=1
for word in unique_words:
  if word in words:
    count+=1
  myset[word]=count
print(myset)

{'apple': 2, 'banana': 3}

# 4. Swap Keys and Values
d = {'a': 1, 'b': 2, 'c': 3}
o/p:{1: 'a', 2: 'b', 3: 'c'}

In [ ]:
d = {'a': 1, 'b': 2, 'c': 3}
mykeys = list(d.keys())
myvalues = list(d.values())
mydict = {}
for i in range(len(myvalues)):
  mydict.update({myvalues[i] : mykeys[i]})
print(mydict)

{1: 'a', 2: 'b', 3: 'c'}

# 5. Merge Two Dictionaries and Add Values for Common Keys
d1 = {'a': 100, 'b': 200, 'c': 300}
d2 = {'a': 300, 'b': 200, 'd': 400}
o/p:{'a': 400, 'b': 400, 'c': 300, 'd': 400}

In [ ]:
d1 = {'a': 100, 'b': 200, 'c': 300}
d2 = {'a': 300, 'b': 200, 'd': 400}
d1keys = list(d1.keys())
merged_dict = {}
for key in d1keys:
  if key in d2:
    merged_dict[key]= (d1[key] + d2[key])
  else:
    merged_dict.update({key:value})
print(merged_dict)

{'a': 400, 'b': 400, 'c': 80}

In [ ]:
d1 = {'a': 100, 'b': 200, 'c': 300}
d2 = {'a': 300, 'b': 200, 'd': 400}

merged_dict = {}

for key in d1:  #covered all keys in d1
   if key in d2:
     merged_dict[key] = (d1[key] + d2[key])
   else:
      merged_dict[key] = d1[key]

#for any extra keys in d2 whih are not in d1
for key in d2:
  if key not in d1:
    merged_dict[key] = d2[key]

print(merged_dict)

{'a': 400, 'b': 400, 'c': 300, 'd': 400}

# 6. Nested Dictionary: Access and Update
student = {
  'name': 'Alice',
  'grades': {'math': 90, 'science': 85}
}
o/p:{'name': 'Alice', 'grades': {'math': 90, 'science': 95}}

In [2]:
student = {
  'name': 'Alice',
  'grades': {'math': 90, 'science': 85}
}
student['grades']['science'] = 95
print(student)

{'name': 'Alice', 'grades': {'math': 90, 'science': 95}}

# 7. Create a Dictionary from Two Lists, But Only Include Even Values
keys = ['a', 'b', 'c', 'd']
values = [2, 5, 8, 11]
o/p:{'a': 2, 'c': 8}

In [5]:
keys = ['a', 'b', 'c', 'd']
values = [2, 5, 8, 11]

temp_dict = {}

for i in range(len(keys)):
  temp_dict[keys[i]] = values[i]
print(temp_dict)

even_values_dict = {key:value for key,value in temp_dict.items() if value%2==0}

print(even_values_dict)

{'a': 2, 'b': 5, 'c': 8, 'd': 11}
{'a': 2, 'c': 8}

# 8. Create a Dictionary from Two Lists, But Only Include Even Values
data = {'a': 5, 'b': 2, 'c': 8}
o/p:{'b': 2, 'a': 5, 'c': 8}

In [11]:
data = {'a': 5, 'b': 2, 'c': 8}
keys = list(data.keys())
values = list(data.values())

print(keys)
print(values)

for i in range(len(values)):
  for j in range(i+1, len(values)):
    if values[i]>values[j]:
      values[i], values[j] = values[j], values[i]
      keys[i], keys[j] = keys[j], keys[i]

sorted_dict = {}
for i in range(len(keys)):
  sorted_dict[keys[i]] = values[i]

print(sorted_dict)

['a', 'b', 'c']
[5, 2, 8]
{'b': 2, 'a': 5, 'c': 8}