<a href="https://colab.research.google.com/github/Vijaya-QA/SeleniumAutomation/blob/DSML/Python_List.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# List-problems

# 1.Print all elements of a list
my_list = [1, 2, 3, 4]
Output: 1 2 3 4

In [ ]:
my_list=[1,2,3,4]
for x in my_list:
  print(x, end=" ")

1 2 3 4

# 2.Find the length of a list
my_list = [10, 20, 30]
# Output: 3

In [ ]:
my_list=[1,2,3,4]
count=0
for i in my_list:
  count+=1
print(count)

4

# 3.Append an element to a list
my_list = [1, 2, 3]
Append 4 → [1, 2, 3, 4]

In [ ]:
my_list=[1,2,3]
my_list.append(4)
print(my_list)

[1, 2, 3, 4]

# 4.Insert an element at a specific position
my_list = [1, 2, 4]
Insert 3 at index 2 → [1, 2, 3, 4]

In [ ]:
my_list=[1,2,4]
my_list.insert(2,3)
print(my_list)

[1, 2, 3, 4]

# 5.Remove a specific element
my_list = [1, 2, 3, 2]
Remove first 2 → [1, 3, 2]

In [ ]:
my_list=[1,2,3,2]
my_list.remove(2)
print(my_list)

[1, 3, 2]

In [ ]:
my_list=[1,2,3,2]
my_list.pop(1)
print(my_list)

[1, 3, 2]

# 6.Sort a list in ascending order
my_list = [3, 1, 2]
After sort: [1, 2, 3]

In [ ]:
my_list=[1,2,50,20,3]
my_list.sort()
print(my_list)

[1, 2, 3, 20, 50]

# 7.Find the maximum and minimum in a list
my_list = [10, 5, 7]
max → 10, min → 5

In [ ]:
my_list=[2,40,1,300,0,3]
max_num=0
min_num=0
for i in my_list:
  if i>max_num:
    max_num=i
  if i<min_num:
    min_num=i
print(f"max->{max_num}, min->{min_num}")

max->300, min->0

# 8.Check if an element exists in a list
my_list = [1, 2, 3]
Is 2 in the list? → True

In [ ]:
def is_element_exist(e, your_list):
  for i in your_list:
    if i==e:
      return True
  else:
      return False
print(is_element_exist(2,[1,2,3,4]))

True

# 9.Sum of all elements in a list
my_list = [1, 2, 3]
Output: 6

In [ ]:
def sum_elements(l1):
  sum=0
  for i in l1:
    sum+=i
  return(sum)
my_list=[1,2,3]
print(sum_elements(my_list))

6

# 10.Count occurrences of an element
my_list = [1, 2, 2, 3, 2]
Count of 2 → 3

In [ ]:
def count_elements(l1):
  count=0
  for i in l1:
    if i==2:
      count+=1
  return count
my_list=[1,2,3,2,2]
count_elements(my_list)

3

# Medium-Level Python List
Find all even numbers in a list

python
Copy
Edit

In [ ]:
my_list=[1,2,3,4,5,6]
new_list=[]
for i in my_list:
  if i%2==0:
    new_list.append(i)
print(new_list)

[2, 4, 6]

# 2.Remove duplicates from a list
Input: [1, 2, 2, 3, 4, 4]
Output: [1, 2, 3, 4]

In [ ]:
my_list=[1,2,2,3,4,4]
new_list=[]
for i in my_list:
  if i not in new_list:
    new_list.append(i)
print(new_list)

[1, 2, 3, 4]

# 3.Find the second largest element in a list
Input: [10, 20, 4, 45, 99]
Output: 45

In [ ]:
my_list=[10,20,4,45,99]
my_list.sort(reverse=True)
print(my_list[1])

45

# 4.Rotate list to the right by 2 positions
Input: [1, 2, 3, 4, 5]
Output: [4, 5, 1, 2, 3]

In [ ]:
my_list=[1,2,3,4,5]
n=int(input("enter no of positions: "))
rev_list=my_list[-n:]+my_list[:-n]
print(rev_list)

enter no of positions: 1
[5, 1, 2, 3, 4]

# 5.Find common elements between two lists
Input: [1, 2, 3], [2, 3, 4]
Output: [2, 3]

In [ ]:
my_list=[1,2,3]
my_list2=[2,3,4]
new_list=[]
for i in my_list:
  if i in my_list2:
    new_list.append(i)
print(new_list)

[2, 3]

# 6.Flatten a nested list
Input: [[1, 2], [3, 4], [5]]
Output: [1, 2, 3, 4, 5]

In [ ]:
my_list=[[1,2],[3,4], [5]]
new_list=[]
for sublist in my_list:
  for i in sublist:
    new_list.append(i)
print(new_list)

[1, 2, 3, 4, 5]

In [ ]:
my_list=[[1,2],[3,4], [5]]
new_list=[item for sublist in my_list for item in sublist ]
print(new_list)

[1, 2, 3, 4, 5]

# 7.Count frequency of each element
Input: [1, 2, 2, 3, 1]
Output: {1: 2, 2: 2, 3: 1}

In [ ]:
my_list=[1,2,2,3,1]
frequency={}
for item in my_list:
  if item in frequency:
    frequency[item]+=1
  else:
    frequency[item]=1
print(type(frequency))
print(frequency)

<class 'dict'>
{1: 2, 2: 2, 3: 1}

# 8.Check if a list is a palindrome
Input: [1, 2, 3, 2, 1]
Output: True

In [ ]:
my_list=[1,2,3,2,1]
new_list=my_list[::-1].copy()
if my_list==new_list:
  print("True")
else:
  print("NO")
print(new_list)

True
[1, 2, 3, 2, 1]

In [ ]:
my_list=[1,2,3,2,1]
new_list=[]
for i in range(len(my_list) -1, -1, -1):
  new_list.append(my_list[i])
print(new_list)
if my_list==new_list:
   print("True")
else:
  print("NO")

[1, 2, 3, 2, 1]
True