<a href="https://colab.research.google.com/github/Vijaya-QA/SeleniumAutomation/blob/DSML/Python_Basic_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1.What to wear.if weather<32 and its rainy wear shirt and take umbrella else wear t-shirt

In [ ]:
Temparature=int(input("Enter temparature: "))
Weather=input("Enter weather: ")
if Temparature<32:
  print("Wear t-shirt")
  if Weather=='rainy':
    print("take umbrella")
else:
  print("wear shirt")
  if Weather=='rainy':
    print("take umbrella")

Enter temparature: 32
Enter weather: rainy
wear shirt
take umbrella

# 2.Take input from user and validate username and password.

In [ ]:
Username=input("Enter Username: ")
Password=input("Enter Password: ")
if Username=="Vijaya":
  if Password=="login@146":
    print("User logged in successfull")
  else:
   print("Incorrect Username and Password")
else:
  print("Incorrect Username and Password")

Enter Username: Vijaya
Enter Password: abc
Incorrect Username and Password

In [ ]:
Username=input("Enter Username: ")
Password=input("Enter Password: ")
if Username=="Vijaya"and Password=="login@146":
   print("User logged in successfull")
else:
  print("Incorrect Username and Password")

Enter Username: Vijaya
Enter Password: login@146
User logged in successfull

# 3.Do separate username and password validations

In [ ]:
Username=input("Enter Username: ")
Password=input("Enter Password: ")
if Username=="Vijaya":
  if Password=="login@146":
    print("User logged in successfull")
  else:
    print("password is wrong")
else:
  print("username is wrong")

Enter Username: Vijaya
Enter Password: login@146
User logged in successfull

# 4.How to get last digit from whole number?

In [ ]:
num=int(input())
last_digit=num%10
print(last_digit)

100
0

# 5.Take an input N if N is multiple of 3 print FIZZ elseif N is multiple of of 5 print BUZZ else if N is a multiple of both 3&5 print FIZZBUZZ

In [ ]:
n=int(input())
if n%3==0 and n%5==0:
  print("FIZZBUZZ")
elif n%3==0:
    print("FIZZ")
elif n%5==0:
      print("BUZZ")
else:
  print("not multiple by both")

0
FIZZBUZZ

# 6.Generate electricity bill using the following rate card as input
if units<100--free
if units>=100 and units<200--2rs/- per unit
if units>=200--5rs/- per unit

In [ ]:
units=int(input("enter number of units: "))
if units<100:
  print(f"units are {units} so No bill-Free")
elif units>=100 and units<200:
  print("Current Bill is:",units*2, "units:", units)
else:
  print("current bill is:",units*5)

enter number of units: 100
Current Bill is: 200 units: 100

# 7.Build a meter system for an autoo. take into 2 inputs like killometers travelledd aand start time in minut
rate list--first 10kms-->10rs/- per km. next 40kms-9rs/- per km.next 100kms-8/- per km. any leftover km count-6rs/- per km. 5rs/- exxttrra for every minute of start time.

In [ ]:
travelled_kms=int(input("Enter travelled kms:"))
start_time=int(input("start time in minuts:"))
if travelled_kms<=10:
  print("travelled bill for", travelled_kms,"kms is:", travelled_kms*10,"rs/-")
elif travelled_kms>10 and travelled_kms<=40:
  print("travelled bill for", travelled_kms, "kms is:", (travelled_kms-10)*9+(10*10),"rs/-")
elif travelled_kms>40 and travelled_kms<=100:
  print("travelled bill for", travelled_kms,"kms is:",((travelled_kms-40)*8+(10*10)+(30*9)),"rs/-")
elif travelled_kms>100:
  print("travelled bill for", travelled_kms,"kms is:",((travelled_kms-100)*6+(10*10)+(40*9)+(50*8)+(start_time*5)),"rs/-")

Enter travelled kms:102
start time in minuts:40
travelled bill for 102 kms is: 1072 rs/-

# **For** **Loop**
1.print 1st n numbers

In [ ]:
n=int(input())
print(f"First {n} numbers:", end="")
for i in range(1,n+1):
  print(i, end=",")

5
First 5 numbers:1,2,3,4,5,

# **2.print all even numbers between 10&100 both including**

In [ ]:
n=10
print("even numbers between 10 and 100 are:")
for i in range(n, 101):
 if i%2==0:
  print(i, end=",")

even numbers between 10 and 100 are:
10,12,14,16,18,20,22,24,26,28,30,32,34,36,38,40,42,44,46,48,50,52,54,56,58,60,62,64,66,68,70,72,74,76,78,80,82,84,86,88,90,92,94,96,98,100,

# 100 to 10-->all even numbers

In [ ]:
n=100
print("even numbers between 100 and 10 are:")
for i in range(n, 9,-1):
 if i%2==0:
  print(i, end=",")

even numbers between 100 and 10 are:
100,98,96,94,92,90,88,86,84,82,80,78,76,74,72,70,68,66,64,62,60,58,56,54,52,50,48,46,44,42,40,38,36,34,32,30,28,26,24,22,20,18,16,14,12,10,

# output--1#2#3#Hello

In [ ]:
print(1,2,3,"Hello",sep="#")

1#2#3#Hello

# 2.sum of squares of all numbers between

In [ ]:
a=int(input())
b=int(input())
sum=0
for i in range(a, b+1):
 sum=sum+(i**2)
print("sum of square of all numbers between:", a,"and",b, "is", sum)

10
100
sum of square of all numbers between: 10 and 100 is 338065

# 3. print square of its numbers below 50. Eg: \1,4,9..36--we are not acieved currectly--while loop is better option

In [ ]:
n=1
sum=0
for i in range(n, 50):
  square1=i**2
  sum=sum+square1
  print(square1)
  if square1>50:
    break
print("Final sum is:", sum)

1
4
9
16
25
36
49
64
Final sum is: 204

# 5!=5*4*3*2*1

In [ ]:
n=int(input())
sum=1
for i in range(n,1,-1):
  sum=sum*i
print(f"{n} factorial is:", sum)

5
5 factorial is: 120

# prime number?

In [ ]:
n=int(input())
for i in range(2,n):
  if n%i==0:
    print(i)
    print(n, "is not a prime number")
    break
else:
  print(n,"is a prime number")

6
2
6 is not a prime number

# print 0,1,1,2,3,5,,813,21,34--3rd term always sum of two prevvious  terms--not perfect?

In [ ]:
a=0
b=1
n=35
print(a,b,end=" ")
for i in range(n):
  c=a+b
  print(c, end=" ")
  if c>=n:
   break
  else:
    a=b
    b=c

0 1 1 2 3 5 8 13 21 34 55

# **Pattern Printing**

# 1st prob

In [ ]:
n=int(input())
m=int(input())
for i in range(n):
  for j in range(m):
    print((i,j), end=" ")
  print()

2
3
(0, 0) (0, 1) (0, 2)
(1, 0) (1, 1) (1, 2)

# Note:Outer loop deciding the row indexing. Inner loop is deciding the column index

# 2 problem
*
* *
* * *

In [ ]:
n=int(input())
#m=int(input())
for i in range(n):
  for j in range(i+1):
    print("*", end=" ")
  print()

3
*
* *
* * *

# 3.problem
****
***
**
*

In [ ]:
n=int(input())
for i in range(n):
  for j in range(n-i):
    print("*", end=" ")
  print()

4
* * * *
* * *
* *
*

# 4.problem
      *
     **
    ***

In [ ]:
n=int(input())
for i in range(n):
  for s in range(n-i):
    print(" ", end=" ")
  for j in range(i+1):
    print("*", end=" ")
  print()

5
          *
        * *
      * * *
    * * * *
  * * * * *

# 5 problem
*****
 ****
  ***
   **
    *

In [ ]:
n=int(input())
for i in range(n):
  for s in range(i):
    print(" ", end=" ")
  for j in range(n-i):
    print("*", end=" ")
  print()

5
* * * * *
  * * * *
    * * *
      * *
        *

# 6 problem-another way for 5th problem(here we are multipling sting with number,( it assuming like n times of concatenation)

In [ ]:
n=int(input())
for i in range(n):
  print(" "*i, end=" ")
  print("*"*(n-i), end=" ")
  print()

5
 *****
  ****
   ***
    **
     *

# 7.problem
*
*2
*2*
*2*4
*2*4*
*2*4*6

In [ ]:
n=int(input())
for i in range(n):
  for j in range(1, i+2):
    if j%2==0:
      print(j, end=" ")
    else:
      print("*", end=" ")
  print()

6
*
* 2
* 2 *
* 2 * 4
* 2 * 4 *
* 2 * 4 * 6

# 8.probem
1
12
123
1234
12345

In [ ]:
n=int(input())
for i in range(n):
  for j in range(1, i+2):
    print(j, end=" ")
  print()

5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

# 9.Problem
1234567
123456
12345
1234
123
12
1

In [ ]:
n=int(input())
for i in range(n):
  for j in range(1,n-i+1):
    print(j, end=" ")
  print()

5
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

# 10.Problem
****
00
01
02
****
10
11
12

In [ ]:
n=int(input())
for i in range(n):
  print("*"*n)
  for j in range(n):
    print(i, j)

3
***
0 0
0 1
0 2
***
1 0
1 1
1 2
***
2 0
2 1
2 2

# 11.N*N matrix

In [ ]:
n=int(input())
for i in range(n):
 for j in range(n):
  print("*", end=" ")
 print()

3
* * *
* * *
* * *

# 12.problem
2
2*
2*4
2*4*
2*4*6

In [ ]:
n=int(input())
for i in range(n):
  for j in range(i+1):
    if j%2==0:
      print(j+2, end="")
    else:
      print("*", end="")
  print()

4
2
2*
2*4
2*4*

# 13.problem
0->
1->2
2->2*
3->2*4
4->2*4*

In [ ]:
n=int(input())
for i in range(n):
  for j in range(1,i+2):
    if j==1:
      print(i, end="->")
    elif j%2==0:
      print(j, end="")
    else:
      print("*", end="")
  print()

5
0->
1->2
2->2*
3->2*4
4->2*4*

# 14.problem
0->2*4*
1->2*4
2->2*
3->2
4->

In [ ]:
n=int(input())
for i in range(n):
  for j in range(1,n-i+1):
    if j==1:
      print(i, end="->")
    elif j%2==0:
      print(j, end="")
    else:
      print("*", end="")
  print()

4
0->2*4
1->2*
2->2
3->

# 15.problem
*
**
***
****
***
**
*

In [ ]:
n=int(input())
for i in range(n):
  for j in range(i+1):
    print("*", end="")
  print()
for i in range(n-1):
  for j in range(n-i-1):
    print("*", end="")
  print()

3
*
**
***
**
*

# 16.problem
#
*#
**#
***#
**@*#
***#
**#
*#
#

In [ ]:
n=int(input())
for i in range(n):
  for j in range(i+1):
    if i==n-1 and j==int(n//2):
      print("@", end="")
    elif j==i:
      print("#", end="")
    else:
     print("*", end="")
  print()
for i in range(n):
  for j in range(n-i):
    if j==n-i-1:
      print("#", end="")
    else:
     print("*", end="")
  print()

5
#
*#
**#
***#
**@*#
****#
***#
**#
*#
#

# While Loop
# 1. Sum of Even Numbers Until a Limit

In [ ]:
n=int(input())
sum=0
i=1
while i<n:
  if i%2==0:
    print(i)
    sum=sum+i
  i+=1
print(sum)

10
2
4
6
8
20

# 2. Reverse a Number

In [ ]:
n=int(input())
rev_num=0
temp=n
while temp!=0:
  last_num = temp%10
  rev_num=rev_num*10+last_num
  temp=temp//10
print("Reverse number of", rev_num)

1234
Reverse number of 4321

# 3. Guess the Number Game
# Guess the number: 5
# Wrong, try again.
# Guess the number: 7
# Correct!

In [ ]:
secret_num=7
n=int(input("Guess the Number:"))
i=True
while i==True:
 if n==secret_num:
   print("Correct!")
   i=False
 else:
  n=int(input("Guess the Number:"))

Guess the Number:3
Guess the Number:5
Guess the Number:4
Guess the Number:7
Correct!

# 4. Count Digits in a Number

In [ ]:
 n=int(input())
 temp=n
 count=0
 while temp!=0:
  temp=temp//10
  count+=1
print(count)

12345
5

# 5. Print Fibonacci Series (First n terms)
n = 7
Expected Output:
0 1 1 2 3 5 8

In [ ]:
n=int(input())
a,b=0,1
i=0
while i<n:
  print(a, end=" ")
  a,b=b,a+b
  i+=1

6
0 1 1 2 3 5

# 10.Medium question on while loop
# 1.Check for Palindrome Number

In [ ]:
n=int(input())
rev_num=0
temp=n
while temp!=0:
 last_digit=temp%10
 rev_num=rev_num*10+last_digit
 temp=temp//10
print("Reverse number of", n, "is", rev_num)
if n==rev_num:
  print(n, "is a Palindrome")
else:
  print("not")

123
Reverse number of 123 is 321
not

# 2.Print Digits Separately (Right to Left)
# Input: 453 → Output: 3, 5, 4

In [ ]:
n=int(input())
temp=n
while temp!=0:
  last_digit=temp%10
  temp=temp//10
  print(last_digit, end=",")

453
3,5,4,

# 3.Sum of Digits of a Number
# Input: 123 → Output: 6

In [ ]:
n=int(input())
temp=n
sum=0
while temp!=0:
  last_digit=temp%10
  temp=temp//10
  sum=sum+last_digit
print("sum of digits of a number is:", sum)

123
sum of digits of a number is: 6

# 4.Check Armstrong Number
# Check if a number is an Armstrong number (e.g., 153 → 1³ + 5³ + 3³ = 153).
# Input: 153 → Output: Yes

In [ ]:
n=int(input())
temp=n
sum=0
while temp!=0:
  last_digit=temp%10
  temp=temp//10
  sum=sum+(last_digit)**3
print("sum:", sum)
if n==sum:
  print("Given number is a armstrong number")
else:
  print("not")

153
sum: 153
Given number is a armstrong number

# Generate Multiplication Table
# Take a number and print its multiplication table using a while loop.
# Input: 5 → Output: 5 10 15 ... 50

In [ ]:
n=int(input("enter a number:"))
i=1
while i<=10:
 multiplication=n*i
 print(multiplication, end=" ")