<a href="https://colab.research.google.com/github/Vijaya-QA/SeleniumAutomation/blob/DSML/Python_Set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Easy Level
# 1. Create a Set

In [1]:
my_set={"apple", 2,True,4.3}
print(my_set)

{True, 2, 'apple', 4.3}

# 2. Add an Element

In [2]:
my_set.add("orange")
print(my_set)

{True, 2, 4.3, 'apple', 'orange'}

In [4]:
my_set.add("orange")
print(my_set)

{True, 2, 4.3, 'apple', 'orange'}

In [5]:
my_set.update(my_set)
print(my_set)

{True, 2, 4.3, 'apple', 'orange'}

In [8]:
my_set.update("banana") #update() is user to add another set to current set. not single item to add
print(my_set)

{True, 2, 4.3, 'b', 'apple', 'a', 'orange', 'n'}

In [10]:
myset={"apple", 4, True}
myset.update(my_set)
print(myset)

{True, 2, 4, 4.3, 'b', 'apple', 'a', 'orange', 'n'}

# 3. Remove an Element

In [11]:
my_set={"banana", 3, True, 3.4}
my_set.remove(3)
print(my_set)

{True, 3.4, 'banana'}

In [15]:
from sre_constants import error
my_set={"banana", 4, True, 3.4}
try:
 my_set.remove(3) #remove() throws error if item is not present in set
except KeyError as e:
  print("Error:",e)
print(my_set)

Error: 3
{True, 3.4, 4, 'banana'}

In [17]:
my_set={"banana", 4, True, 3.4}
my_set.discard(3) #won't throws an error if item not present in set
print(my_set)

{True, 3.4, 4, 'banana'}

In [18]:
my_set={"banana",3, 4, True, 3.4, }
removed_item = my_set.pop()  #removes random item and it return value removed from set
print(removed_item)
print(my_set)

True
{3.4, 3, 4, 'banana'}

# 4. Set Membership
in, not in

In [19]:
my_set={"banana",3, 4, True, 3.4, }
if "banana" in my_set:
  print("Yes")
else:
  print("NO")

Yes

In [20]:
my_set={"banana",3, 4, True, 3.4, }
if "banana" not in my_set:
  print("Yes")
else:
  print("NO")

NO

# 5. Set Length

In [21]:
my_set={"banana",3, 4, True, 3.4, }
print(len(my_set))

5

# 6. Set Union
set1 = {1, 2, 3}  
set2 = {3, 4, 5}

In [23]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = set1.union(set2)
print(set3)

{1, 2, 3, 4, 5}

In [24]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = set1 | set2
print(set3)

{1, 2, 3, 4, 5}

# 7. Set Intersection

In [26]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = set1.intersection(set2)
print(set3)

{3}

In [28]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = set1 & set2
print(set3)

{3}

# 8. Set Difference

In [29]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = set1.difference(set2)
print(set3)

{1, 2}

In [32]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = set1-set2
print(set3)

{1, 2}

# 9. Convert List to Set

In [34]:
my_list=[1, 2, 2, 3, 4, 4]
my_set=set(my_list)
print(my_set)

{1, 2, 3, 4}

# 10. Clear the Set

In [36]:
set1 = {1, 2, 3}
set1.clear()
print(set1)

set()

# Medium-Level Questions
# Q1. Find Common Elements Between Two Lists
Write a program that takes two lists and prints the common elements using sets.

In [37]:
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]
set1 = set(list1)
set2 = set(list2)
set3 = set1.intersection(set2)
print(set3)

{4, 5}

# Q2. Remove Duplicate Characters From String
Given a string, remove duplicate characters using a set and print the result.
Example:
Input: "programming"
Output: "progamin" (order may vary)

In [44]:
word = "programming"
set1 = set(word)
print(set1)
new_word = ""
for letter in set1:
  new_word+=letter
print(new_word)

{'r', 'g', 'p', 'a', 'm', 'i', 'o', 'n'}
rgpamion

# Q3. Vowels in a Word
Write a program that prints all vowels present in a given word using set intersection.
Example:
Input: "education"
Output: {'e', 'u', 'a', 'i', 'o'}

In [46]:
word = "Education"
vowels="AEIOUaeiou"
set1 = set()
for letter in word:
  if letter in vowels:
    set1.add(letter)
print(set1)

{'E', 'u', 'a', 'i', 'o'}

# Q4. Check for Disjoint Sets
Given two sets, check whether they have no elements in common.
A = {1, 2, 3}  
B = {4, 5, 6}

In [61]:
A = {1, 2, 3}
B = {4, 5, 6}
for element in A:
  if element in B:
     print("both have common elements")
else:
    print("both are disjoint sets")

both are disjoint sets

# Q5. Unique Words in a Sentence
Write a program that takes a sentence from the user and prints the number of unique words.
Example:
Input: "This is a test. This test is only a test."
(First remove punctuation, then split into words and use a set.)

In [68]:
n = input("Enter a sentence: ")
words = n.split(" ")
set1 = set(words)
print(set1)
print(len(set1))

Enter a sentence: This is a test. This test is only a test
{'This', 'is', 'test', 'a', 'test.', 'only'}
6

In [72]:
import string
n = input("Enter a sentence: ")
sentence_no_punctuation = "".join([char for char in n if char not in string.punctuation])
print(sentence_no_punctuation)
words = sentence_no_punctuation.strip().split(" ")
set1 = set(words)
print(set1)
print(len(set1))

Enter a sentence:  "This is a test. This test is only a test."
 This is a test This test is only a test
{'This', 'is', 'test', 'a', 'only'}
5

# Q6. Symmetric Difference of Two Sets
Write a program to find the symmetric difference of two sets.

In [73]:
A = {1, 2, 3, 4}
B = {3, 4, 5, 6}
c = A.symmetric_difference(B)
print(c)

{1, 2, 5, 6}

# Q7. Find Elements Present in Exactly One Set
Given three sets, print the elements that are present in only one of them.
Only A → 1, 2 (not in B or C)

Only B → 4 (not in A or C)

Only C → 6, 7 (not in A or B)

3 is in A and B → Not allowed

5 is in B and C → Not allowed

In [82]:
A = {1, 2, 3}
B = {3, 4, 5}
C = {5, 6, 7}
only_A = A - (B|C)
only_B = B - (A|C)
only_C = C- (A|B)
result = only_A|only_B|only_C
print(result)

{1, 2, 4, 6, 7}

# Q8. Convert List of Tuples to Unique Set of Values
data = [(1, 2), (3, 4), (1, 5)]

In [85]:
data = [(1, 2), (3, 4), (1, 5)]
unique_set = set()
for tuple in data:
  for item in tuple:
    unique_set.add(item)
print(unique_set)

{1, 2, 3, 4, 5}

# Q9. Count Elements in Set Greater Than K
Given a set of numbers and a value k, count how many elements are greater than k.
nums = {10, 15, 20, 25}, k = 18  
Output: 2

In [86]:
k = int(input("enter a number: "))
nums = {10, 15, 20, 25}
count = 0
for item in nums:
  if item>k:
    count+=1
print(count)

enter a number: 18
2

# Q10. Word Frequency Using Sets
Given a paragraph, print all unique words and their frequencies (Hint: use set() for uniqueness and count() or collections.Counter for frequency).
Input: text = "Python is easy. Python is powerful. Python is popular."
Output:python: 3  
is: 3  
easy: 1  
powerful: 1  
popular: 1

In [92]:
sen = input("enter a sentence: ")
sen_no_panctuation = ''.join([char for char in sen if char not in string.punctuation])
words = sen_no_panctuation.strip().split(" ")
print(words)
unique_words = set(words)
print(unique_words)
for word in unique_words:
   print(f"{word}: {words.count(word)}")

enter a sentence: "Python is easy. Python is powerful. Python is popular."
['Python', 'is', 'easy', 'Python', 'is', 'powerful', 'Python', 'is', 'popular']
{'is', 'popular', 'powerful', 'Python', 'easy'}
is: 3
popular: 1
powerful: 1
Python: 3
easy: 1